@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer components {
  .dropzone-container {
    @apply flex h-[300px] w-[300px] flex-col items-center justify-between rounded-lg border text-center
    border-zinc-500 bg-zinc-200 p-[40px] py-8 align-middle text-zinc-500      shadow-inner;
  }

  .submit-button {
    @apply px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-800 disabled:opacity-70 disabled:hover:bg-blue-600 disabled:cursor-not-allowed duration-150
  }
}